*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(https://img.freepik.com/free-photo/snowy-mountains-sunset_23-2152014208.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.background{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.glass-card {
    background: rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    padding: 30px 40px;
    width: 350px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px); 
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
    text-align: center;
}
.glass-card p{
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.8);

}
.input-group{
    margin-bottom: 20px;
    text-align: left;
}
.input-group label{
    display: block;
    margin-bottom: 5px;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.8);
}
.input-group input{
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    font-size: 1rem;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    outline: none;
    transition: all 0.3s ease ;
    
}
.input-group input::placeholder{
    color: rgba(255, 255, 255, 0.5);
}
.input-group input:focus{
    border: 1px solid  rgba(255, 255, 255, 0.5);
}
button{
    width: 100%;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1rem;
    color: white;
    background: linear-gradient(90deg, blue, lightblue) ;
    cursor: pointer;
    transition: all 0.3s ease;
}
button:hover{
    background: linear-gradient(90deg, lightblue, blue) ;
}
.login-link{
    margin-top: 20px;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease;
}
.login-link:hover{
    color: rgba(255, 255, 255, 1);
} 
.login-link a{
    color: lightblue;
    text-decoration: none;
    font-weight: bold;
}    
.login-link a:hover{
    color: blue;
    text-decoration: underline;
}  